<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         bootstrap="../vendor/autoload.php"
>

    format-coverage --output coverage/codeclimate.$SUITE.json
    <testsuites>
        <testsuite name="All">
            <directory>PatternCatalog</directory>
        </testsuite>
    </testsuites>

    <php>
        <includePath>../src</includePath>
    </php>

    <logging>
        <log type="coverage-clover" target="coverage/codeclimate.xml"/>
    </logging>

</phpunit>
